<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bunda</title>

    <script>

        function LimparFormulario() {
            $("#txtNome").val("");
            $("#txtCPF").val("");
            $("#txtDtNascimento").val("");
            $("#txtTel").val("");
            $("#txtEmail").val("");
        }

        $(document).ready(function () {
            $("#txtCPF").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl+A, Command+A
                    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right, down, up
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });

            $("#btnOK").click(function () {

                var txtEmail = $("#txtEmail").val();

                if (txtEmail.includes("@@")) {

                    var txtCPF = $("#txtCPF").val();
                    var url = "@Url.Action("CPFJaCadastrado", "Home")" + '?cpf=' + txtCPF;
                    $.getJSON(url, function (retorno) {

                        if (retorno) {
                            alert("CPF já cadastrado na base");
                        }
                        else {
                            var dtNascimento = $("#txtDtNascimento").val();
                            url = "@Url.Action("PessoaMenorDeIdade", "Home")" + '?dataNascimento=' + dtNascimento;

                            $.getJSON(url, function (retorno) {

                                if (retorno) {
                                    alert("Não é possível cadastrar pirralhos.");
                                }
                                else {
                                    var txtNome = $("#txtNome").val();
                                    var txtCelular = $("#txtTel").val();

                                    url = "@Url.Action("CadastrarPessoa", "Home")" + '?nome=' + txtNome + '&cpf=' + txtCPF + '&dtNascimento=' + dtNascimento + '&celular=' + txtCelular + '&email=' + txtEmail;

                                    $.getJSON(url, function (retorno) {

                                        if (retorno) {
                                            alert("Cadastro realizado.");
                                            LimparFormulario();
                                        }
                                        else {
                                            alert("Erro ao cadastrar. Erro: " + retorno.Message);
                                        }
                                    })
                                }
                            })
                        }
                    })
                }
                else {
                    alert("Favor informar um e-mail válido. Bocozão.");
                }
            })
        })
    </script>

    <style>
        body {
            padding-top: 30px;
            background-color: #eef3f9;
        }

        .formulario {
            width: 40%;
            margin: auto;
            padding: 15px;
            background-color: white;
        }

        @@media screen and ( max-width: 767px) {
            .formulario {
                width: 80%;
            }
        }
    </style>

</head>
<body>
    <div class="formulario">

        <h3 style="text-align:center">Formulário de Cadastro</h3>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Nome:</span>
            </div>
            <input id="txtNome" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">CPF:</span>
            </div>
            <input id="txtCPF" maxlength="11" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">E-mail:</span>
            </div>
            <input id="txtEmail" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Data Nascimento:</span>
            </div>
            <input id="txtDtNascimento" type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Telefone:</span>
            </div>
            <input id="txtTel" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button id="btnOK" type="button" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </div>
</body>
</html>